@font-face {
  font-family: 'rtm-icon';
  src: url('../fonts/rtm-icon.woff') format('woff'); 
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.rtmicon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rtm-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rtmicon.rtmicon-rometheme:before {
  content: "\e91e";
}

.rtmicon.rtmicon-Image-File:before {
  content: "\e91f";
}

.rtmicon.rtmicon-Book:before {
  content: "\e920";
}

.rtmicon.rtmicon-Help:before {
  content: "\e921";
}

.rtmicon.rtmicon-Watch:before {
  content: "\e922";
}

.rtmicon.rtmicon-Flag:before {
  content: "\e923";
}

.rtmicon.rtmicon-Report:before {
  content: "\e924";
}

.rtmicon.rtmicon-City:before {
  content: "\e925";
}

.rtmicon.rtmicon-Graph-Bar:before {
  content: "\e926";
}

.rtmicon.rtmicon-Speedometer:before {
  content: "\e927";
}

.rtmicon.rtmicon-Presentation:before {
  content: "\e928";
}

.rtmicon.rtmicon-Megaphone:before {
  content: "\e929";
}

.rtmicon.rtmicon-Briefcase:before {
  content: "\e92a";
}

.rtmicon.rtmicon-Fax:before {
  content: "\e92b";
}

.rtmicon.rtmicon-Folder:before {
  content: "\e92c";
}

.rtmicon.rtmicon-Browser:before {
  content: "\e92d";
}

.rtmicon.rtmicon-Alert:before {
  content: "\e92e";
}

.rtmicon.rtmicon-Color-Picker:before {
  content: "\e92f";
}

.rtmicon.rtmicon-Rocket:before {
  content: "\e930";
}

.rtmicon.rtmicon-Package:before {
  content: "\e931";
}

.rtmicon.rtmicon-Money-Chek:before {
  content: "\e932";
}

.rtmicon.rtmicon-ID-Card:before {
  content: "\e933";
}

.rtmicon.rtmicon-Microphone:before {
  content: "\e934";
}

.rtmicon.rtmicon-Battery:before {
  content: "\e935";
}

.rtmicon.rtmicon-Volume:before {
  content: "\e936";
}

.rtmicon.rtmicon-a---Volume-Down:before {
  content: "\e937";
}

.rtmicon.rtmicon-b---Mute:before {
  content: "\e938";
}

.rtmicon.rtmicon-Graph-Pie:before {
  content: "\e939";
}

.rtmicon.rtmicon-Stamp:before {
  content: "\e93a";
}

.rtmicon.rtmicon-Feather:before {
  content: "\e93b";
}

.rtmicon.rtmicon-Header-Offcanvas:before {
  content: "\e93c";
}

.rtmicon.rtmicon-Search:before {
  content: "\e93d";
}

.rtmicon.rtmicon-Site-Logo:before {
  content: "\e93e";
}

.rtmicon.rtmicon-Location:before {
  content: "\e901";
}

.rtmicon.rtmicon-Store:before {
  content: "\e902";
}

.rtmicon.rtmicon-Trash:before {
  content: "\e903";
}

.rtmicon.rtmicon-Paper-Plane:before {
  content: "\e904";
}

.rtmicon.rtmicon-Light-Bulb:before {
  content: "\e905";
}

.rtmicon.rtmicon-Coin:before {
  content: "\e906";
}

.rtmicon.rtmicon-Shopping-Cart:before {
  content: "\e907";
}

.rtmicon.rtmicon-Notes:before {
  content: "\e908";
}

.rtmicon.rtmicon-Shield:before {
  content: "\e909";
}

.rtmicon.rtmicon-Alarm-Clock:before {
  content: "\e90a";
}

.rtmicon.rtmicon-Code:before {
  content: "\e90b";
}

.rtmicon.rtmicon-Design:before {
  content: "\e90c";
}

.rtmicon.rtmicon-Mockup:before {
  content: "\e90d";
}

.rtmicon.rtmicon-Calendar:before {
  content: "\e90e";
}

.rtmicon.rtmicon-Wallet:before {
  content: "\e90f";
}

.rtmicon.rtmicon-Key:before {
  content: "\e910";
}

.rtmicon.rtmicon-Fingerprint:before {
  content: "\e911";
}

.rtmicon.rtmicon-Category:before {
  content: "\e912";
}

.rtmicon.rtmicon-Filter:before {
  content: "\e913";
}

.rtmicon.rtmicon-Desk:before {
  content: "\e914";
}

.rtmicon.rtmicon-Pen:before {
  content: "\e915";
}

.rtmicon.rtmicon-Pencil:before {
  content: "\e916";
}

.rtmicon.rtmicon-Glasses:before {
  content: "\e917";
}

.rtmicon.rtmicon-Mail:before {
  content: "\e918";
}

.rtmicon.rtmicon-Phone:before {
  content: "\e919";
}

.rtmicon.rtmicon-Diamond:before {
  content: "\e91a";
}

.rtmicon.rtmicon-Video-File:before {
  content: "\e91b";
}

.rtmicon.rtmicon-Lock:before {
  content: "\e91c";
}

.rtmicon.rtmicon-Cookies:before {
  content: "\e91d";
}

.rtmicon.rtmicon-Home:before {
  content: "\e900";
}